# **Max's Dataset**

In [2]:
import pandas as pd

## Allegheny County Air Quality dataset

In [5]:
dataset = pd.read_csv("4ab1e23f-3262-4bd3-adbf-f72f0119108b.csv")
dataset.head()

,date,site,parameter,index_value,description,health_advisory,health_effects
0,2016-01-01,Lawrenceville,PM25B,25,Good,NaN,NaN
1,2016-01-01,Flag Plaza,CO,0,Good,NaN,NaN
2,2016-01-01,Harrison Township,OZONE,31,Good,NaN,NaN
3,2016-01-01,Avalon,SO2,10,Good,NaN,NaN
4,2016-01-01,Lincoln,PM25,35,Good,NaN,NaN

In [8]:
print("Per-column data:")
print(dataset["description"].value_counts())
print("------------------------------")
print(dataset["site"].value_counts())
print("------------------------------")
print(dataset["parameter"].value_counts())

Per-column data:
Good                              46575
Moderate                           4090
Unhealthy for Sensitive Groups       98
Unhealthy                             7
Name: description, dtype: int64
------------------------------
Parkway East             6804
North Braddock           4882
Lawrenceville 2          4528
Liberty 2                4468
South Fayette            4406
Harrison Township        4367
Flag Plaza               4002
Avalon                   3843
Lawrenceville            3805
Lincoln                  3574
Liberty                  2285
Glassport High Street    2272
Pittsburgh                904
Clairton                  329
West Mifflin              301
Name: site, dtype: int64
------------------------------
SO2         11496
PM10         8578
CO           6656
OZONE        6519
PM25T        5898
NO2          4494
PM10B        2146
PM25         1767
PM25B        1539
PM25(2)       655
PM10_640      529
PM25_640      493
Name: parameter, dtype: int64

In [15]:
print("Locations and their air quality\n------------------------------")
dataset.groupby("site")["description"].value_counts()

Locations and their air quality
------------------------------

site                   description
Avalon                 Good                              3330
                       Moderate                           511
                       Unhealthy for Sensitive Groups       2
Clairton               Good                               327
                       Moderate                             2
Flag Plaza             Good                              3999
                       Moderate                             3
Glassport High Street  Good                              2258
                       Moderate                            14
Harrison Township      Good                              4271
                       Moderate                            88
                       Unhealthy for Sensitive Groups       8
Lawrenceville          Good                              3149
                       Moderate                           651
                       Unhealthy for Sensitive Groups       5
Lawrenceville 2        Good                              4528
Liberty                Good                              2159
                       Moderate                           114
                       Unhealthy for Sensitive Groups      12
Liberty 2              Good                              3562
                       Moderate                           866
                       Unhealthy for Sensitive Groups      35
                       Unhealthy                            5
Lincoln                Good                              2754
                       Moderate                           796
                       Unhealthy for Sensitive Groups      23
                       Unhealthy                            1
North Braddock         Good                              4748
                       Moderate                           132
                       Unhealthy for Sensitive Groups       2
Parkway East           Good                              6157
                       Moderate                           644
                       Unhealthy for Sensitive Groups       2
                       Unhealthy                            1
Pittsburgh             Good                               781
                       Moderate                           121
                       Unhealthy for Sensitive Groups       2
South Fayette          Good                              4251
                       Moderate                           148
                       Unhealthy for Sensitive Groups       7
West Mifflin           Good                               301
Name: description, dtype: int64